# Logs
logs
*.log
.idea
.DS_Store

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules

# Scripts compiled by gulp on prepublish and included in package.json `files`.
dist
